@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(90, 81, 218), rgb(179, 82, 18));
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Sansita', sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.692);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

.card__title {
    text-align: left;
    padding: 2px;
    margin: 15px;
    font-size: 1.5rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0);
}

.text p {
    margin: 0 auto;
    background-color: #00000096;
    padding: 25px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: justify;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.6px;
    width: 100%;
    box-shadow: inset 2px 2px 15px black;
    border: 5px groove rgb(255, 255, 255);
    border-radius: 12px;
    position: fixed;
}

/* Header */

header {
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 300px;
    margin-top: 40px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: inset 2px 2px 13px rgba(0, 0, 0, 0.795), 5px 5px 15px rgba(0, 0, 0, 0.753);
    background: radial-gradient(rgb(255, 0, 0), rgb(128, 0, 128), rgba(0, 0, 0, 0.781));
    font-family: 'Sansita', sans-serif;
    text-decoration: none;
    font-weight: 500;
}

.nav-bar, p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.568);
}

a {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}

a:hover {
    transform: scale(1.2);
    color: aqua;
}
/* End of Header */

/* Cards */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    margin-right: 100px;
    padding-right: 600px;
    perspective: 900px;
    right: 10%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-4 {
    margin-bottom: -320px;
    transition: 1s ease-in-out;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0);
    background-color: #fc2f70;
    animation: flip 2s infinite;
}

.back-card_4 {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

@keyframes flip {
    100% {
      transform: rotateY(180deg);
      background: url("/assets/img/1.jpg") no-repeat;
      background-size: cover;
      position: relative;
    }  
  }
/* End of Cards */