@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(153, 147, 233), rgb(231, 85, 85));
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    font-family: 'Sansita', sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 3px black;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

.card__title {
    text-align:left;
    padding: 10px;
    margin-bottom: 10px;
}

.text {
    background-color: rgb(255, 223, 143);
    padding: 25px;
    text-align: justify;
    margin: 20px;
    box-shadow: inset 2px 2px 15px black;

    border: 5px groove rgb(255, 255, 255);
    border-radius: 12px;
}

/* Header */

header {
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 370px;
    margin-top: 40px;
    padding: 10px;
    box-shadow: inset 2px 2px 13px rgba(0, 0, 0, 0.795), 5px 5px 15px rgba(0, 0, 0, 0.753);
    background: radial-gradient(rgb(255, 0, 0), rgb(128, 0, 128), rgba(0, 0, 0, 0.781));
    font-family: 'Sansita', sans-serif;
    text-decoration: none;
    font-weight: 500;
}

a {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-bar, p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.568);
}

/* End of Header */

/* Cards Container */

.container {
    display: grid;
    grid-template-columns: 1fr ;
}

.cards {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    gap: 50px;
    margin-top: 30px;
    margin-left: 100px;
}

.card-4 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0);      
}

.card-4:hover {
    transform: scale(1.03);
    right: 1046px;
}

.card-4:active {
    transform: rotateY(180deg);
}

/* End of Cards Container  */