* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 140, 52)
}

/* Header */

header {
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 370px;
    margin-top: 20px;
    padding: 15px;
}

/* End of Header */

/* Cards Container */

.container {
    display: grid;
    grid-template-columns: 1fr ;
}

.cards {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    gap: 50px;
    margin-top: 30px;
    margin-left: 100px;
}

.card-1 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;      
}

.card-1:hover {
    transform: scale(1.03);
    right: 1046px;
}

.card-1:active {
    padding: 100px;
}

/* End of Cards Container  */