* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aquamarine;
}

/* Header */

header {
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 370px;
    margin-top: 20px;
    padding: 15px;
}

/* End of Header */

/* Cards Container */

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.cards {
    
}

.card-1 { 
       
}

.back-1 {
    
}

/* End of Cards Container  */