@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(36, 90%, 68%);
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    font-family: 'Sansita', sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 3px black;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

/* Header */

header {
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 370px;
    margin-top: 80px;
    padding: 15px;
}

/* End of Header */

/* Cards Container */

.container {
    display: grid;
    grid-template-columns: 1fr ;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.card-1 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;      
}

.card-1:hover {
    transform: scale(1.03);
}

.card-2 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;   
}

.card-2:hover {
    transform: scale(1.03);
}

.card-3 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;      
}

.card-3:hover {
    transform: scale(1.03);
}

.card-4 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;      
}

.card-4:hover {
    transform: scale(1.03);
}

.card-4:visited {
    padding: 100px;
}

/* End of Cards Container  */