@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(90, 81, 218), rgb(179, 82, 18));
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Sansita', sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 4.2px 5.2px 7.2px rgba(0, 0, 0, 0.781);
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

.title, h1 {
    padding: 15.2px;    
}

/* Header */

header {
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 290px;
    margin-top: 20px;
    margin: 0 auto;
    padding: 8px;
    box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.815), 5px 5px 15px rgba(0, 0, 0, 0.842);
    background: linear-gradient(rgba(255, 0, 0, 0.781), rgba(133, 1, 1, 0.822), rgba(255, 0, 0, 0.815));
    border-top: 4px groove white;
    border-bottom: 4px groove white;
    font-family: 'Sansita', sans-serif;
    text-decoration: none;
    font-weight: 500;
}

.nav-bar, p {
    margin-bottom: 5px;
    font-size: 1.27em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.568);
}

a {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}

a:hover {
    transform: scale(1.23);
    color: aqua;
}

/* End of Header */

/* Cards Container */

.container {
    display: grid;
    grid-template-columns: 1fr ;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.cards, button {
    background: transparent;
}

.card-1 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;      
}

.card-1:hover {
    transform: scale(1.03);
}

.card-2 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;   
}

.card-2:hover {
    transform: scale(1.03);
}

.card-3 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;      
}

.card-3:hover {
    transform: scale(1.03);
}

.card-4 { 
    transition: 0.5s ease-in-out;
    box-shadow: 3px 2px 4px black;      
}

.card-4:hover {
    transform: scale(1.03);
}

.card-4:visited {
    padding: 100px;
}
/* End of Cards Container  */

/* Footer */
 footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    height: 15vh;
    border-top: 3px groove black;
    background: linear-gradient(purple, darkblue);
    color: white;
    font-size: 1.25rem;
}
/* End of Footer */
